<!DOCTYPE html>
<html lang="en">
<meta name="color-scheme" content="light dark"/>
<meta http-equiv="refresh" content="60">
<head>
    <meta charset="UTF-8">
    <title>Messages</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Messages for {{ user.login }}</h1>
    <form action="{{ url_for('send_message') }}" method="POST">
        <input type="text" name="receiver" placeholder="Receiver">
        <input type="text" name="message" placeholder="Message">
        <button type="submit">Send</button>
    </form>
    <ul>
        {% for message in messages %}
	    {% if message[2] == user.login %}
		<li><b>{{ message[1] }}</b>: {{ message[3] }}</li>
	    {% else %}
		<li>to {{ message[2] }}: {{ message[3] }}</li>
	    {% endif %}
        {% endfor %}
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>
